<div class="pa2 ma2">
  <%= link_to "Back to #{@list.name} list", list_path(@list) %>
</div>

<h2 class="pa2 mh2">List collaborators</h1>

<% @list.users.each do |user| %>
  <div class="user ph2 mh2 pv1 mv1">
    <%= link_to user.name, user %>
    <% if user == @list.owner %>
      <span class="label label-owner">List Owner</span>
    <% else %>
      <%= link_to "Revoke access", list_user_path(@list, user), method: :delete, data: {
        confirm: "Are you sure you want to revoke access from #{user.name} to #{@list.name} list?"
      } %>
    <% end %>
  </div>
<% end %>
<div class="pa2 ma2">
  <%= link_to 'Share List', new_list_user_path(@list) %>
</div>
