
<h1>Lists</h1>

<% @my_lists.each do |list| %>
   <%= render partial: "list_row", locals: {list: list} %>
<% end %>

<% @not_my_lists.each do |list| %>
   <%= render partial: "list_row", locals: {list: list} %>
<% end %>

<br/>
<%= link_to 'New List', new_list_path %>
