
<div class="flex">
  <div id="lists-area">
    <%= form_with url: lists_path, method: :get, local: true, class: "search_form" do |f| %>
      <div class="bg-white br-pill flex ma3">
        <%= f.text_field :query, value: @query, class: "b--none br-pill flex-auto pa2" %>
        <button type="submit" class="w-px-40 h-px-40 ma2 pa2 b--none bg-white hover-bg-black-20 br-pill">
          <i class="material-icons-outlined">search</i>
        </button>
      </div>
    <% end %>

    <button data-sort-method="name" class="sort-by-button ma2 pa2 pr3 pl3 b--none bg-white hover-bg-black-20 br-pill">
      Sort By Name
    </button>

    <button data-sort-method="most-recent" class="sort-by-button ma2 pa2 pr3 pl3 b--none bg-white hover-bg-black-20 br-pill">
      Sort By Most Recent
    </button>

    <h2 class="pa2 mh2">Lists</h2>

    <div class="pv1 mv1 ph2 mh2">
      <%= link_to 'New List', new_list_path %>
    </div>

    <div id="lists" class="pa2 ma2">
      Loading...
    </div>
  </div>

  <div id="list-area">
  </div>
</div>
