<div class="user-name">
  Name: <%= @user.name %>
</div>
<br/>

<div class="user-email">
  Email: <%= @user.email %>
</div>
<br/>


<% if @user.persisted? %>
  <div>
    <%= link_to "Edit Account Details", edit_user_path(@user) %>
  </div>
  <br>
  <div>
    <%= link_to "Delete Your Account", @user, method: :delete,
      data: {confirm: "Are you sure you want to delete your account?"}
    %>
  </div>
<% end %>
